*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.page_wrapper{
    max-width: 800px;
    min-height: 70vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
    gap: 2rem;
    margin: 0 auto;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 1rem;
}

.instructions_wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.instructions_container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 90%;
    margin: auto;
    font-family: "Poppins", sans-serif;
    border: 2px solid black;
}

.instructions_heading{
    font-size: 1.5rem;
}

.instructions_container ul{
    padding: .5rem 2rem;
}

.instructions_container ul li{
    opacity: 1;
    font-size: 1rem;
    font-weight: 400;
    color: black;
}

.instructions_subheading{
    font-weight: 600;
}

.continue_btn{
    color: black;
    font-weight: 400;
    width: 50%;
    margin: auto;
    margin: 2rem 0;
}

.endGameMessage{
    font-size: 1.3rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.endGameMessage span{
    font-size: 2rem;
    font-weight: 600;
}